/*.modal-footer{
    background-color: #F3C541;

}
.modal-header{
    background-color: #F3C541;
}
h4{text-align:center;
    font-size: 30px;
}
.modal-body{
    color:black;
    background-color:#F1E7E7;
} */