<div class="full-back">
  <app-header></app-header>
  <div class="text-warning text-center row">
    <h1 class="blink_me">SELECT A PATH</h1>
  </div>

  <div class="row">
    <div class="col-md-4 make-white text-center">
      <a routerLink="/course-one">Course One</a>
    </div>
    <div class="col-md-4 make-white text-center">
      <a routerLink="/course-two">Course Two</a>
    </div>
    <div class="col-md-4 make-white text-center">
      <a routerLink="/course-three">Course Three</a>
    </div>
  </div>

</div>
<div class="second">

<div  class="row two">
  <div class="col-md-4 make-white text-center">
    <a routerLink="/course-one"><h2> Full-Stack Web Development </h2> </a>
    <h3>What you get to learn</h3>
    <p>HTML5, CSS3, Intro to Programming, Angular & amp; Javascript MVC, OOP, Asynchronous programming, Regular Expressions, PHP and MySQL, Node.js &amp; Express, Services APIs, Git &amp; Version control, Shell scripting, Agile methodology.</p>
    <p><em>Pre-Course:</em> HTML & amp; CSS & amp; Javascript</p>
    <p> Fee :N85,000</p>
    <p> 12 weeks </p>
   <a><img src="../assets/book.jpg"></a>
  </div>

  <div class="col-md-4 make-white text-center">
    <a routerLink="/course-two"> <h2> Mobile-App Development </h2></a>
    <h3>What you get to learn</h3>
    <p>HTML5, CSS3, Introduction to Mobile Application Design and Development , Angular, ES5, Developing for Multiple mobile platforms, Ionic and Cordova, Git &amp; Version control, App store and app business model</p>
    <p><em>Pre-Course:</em> HTML & amp; CSS, Javascript & amp; Responsive Web Design</p>
    <p> Fee :N75,000</p>
    <p> 8 weeks </p>
   <a><img src="../assets/book.jpg"></a>   
  </div>

  <div class="col-md-4 make-white text-center">
    <a routerLink="/course-three"> <h2> UI UX Design </h2></a>
    <h3>What you get to learn</h3>
    <p>Design Elements, UXD Principles, UXD Ecosystem, Content Strategy, Transitioning – Definition to Design, Wireframing and Annotating, Prototyping, User testing and User Research</p>
    <p><em>Pre-Course:</em> HTML & amp; CSS, Javascript & amp; Responsive Web Design</p>
    <p> Fee :N65,000</p>
       <p> 8 weeks </p>
   <a><img src="../assets/book.jpg"></a>   
  </div>
</div>


<div id="three"class="third">
  
  <div class="row">
      <div class="col-md-1 make-white text-center">
        </div>
      <div class="col-md-10 make-white text-center">
      <img class="app"src="C:\Users\Obekpa\Desktop\web-app.jpg" alt="">
      <div class="text-block"> 
        <p> <b>Thanks for visiting!!!</b><br>reach out with any questions you have
        via our social media </p>
        <button class="btn btn-info">twitter</button>
        <button class="btn btn-info">instagram</button>
        <button class="btn btn-info">facebook</button>
      </div>
      </div>


      <div class="col-md-1 make-white text-center">
  </div>
  </div>

  <app-footer> </app-footer>